@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Hahmlet:wght@100;300;400;500&family=Kaushan+Script&display=swap');

/* Página no geral formatações iniciais */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;

}

html {
	background-color: #27033D;
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	height: 100vh;
	width: 100vw;
}

header {
	width: 100%;
}

/* estilização do Nav-topo o menu com a barra de pesquisa */

nav ul{
	display: flex;
}

.dropdown-menu{
	background-color: #fff;
	border-radius: 0px 10px 0px 10px;
	position: absolute;
	box-shadow: 0 0 2px #000000;
	display: none;
}

.dropdown-menu a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem;
}

.dropdown-menu a img{
	width: 20px;
	height: 20px;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.dropdown-menu a:hover{
	background-color: #17CD00;
}

.dropdown-menu a p{
	margin-left: 0.5rem;
	font-weight: bold;
	color: #000000;
}

#nav-topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.nav-section {
    margin-right: 20px;
}


.logo{
	width: 6rem;
	height: 8rem;
}

#pesquisar{
	position: relative;
	display: inline-block;
	
}

#pesquisar img{
	width: 1rem;
	height: 1rem;
}

.search-box{
	height: 20px;
	width: rem;
	padding: 10px;
	border-radius: 10px;
	padding-right: 30px;
	font-size: 1.6rem;
	display:none;
}

.search-btn{
	position: absolute;
	top: 50%;
	right: 1.3rem;
	transform: translateY(-50%);
	cursor: pointer;
	display: none;
}

#atendimento img, #cadastro img, #carrinho img{
	width: 3rem;
	height: 3rem;
	margin-right: 2px;
}

#atendimento p, #cadastro p , #carrinho p{
	display: none;
} 

#atendimento, #cadastro, #carrinho, #pesquisar{
	display: flex;
	padding: 1rem;
}

.container{
	display: flex;
}


/* estilização do Nav-paginas o menu responsável pela navegação geral do site */

#nav-paginas{
	margin-top: 1rem;
	padding: 0.5rem;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

#nav-paginas a{
	font-family: 'Libre Caslon Display', serif;
	color: #000000;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 150%;
	transition: color .3s ease;
}

header #nav-paginas a:hover{
	border-bottom: 2px solid #27033D;
}

/*estilização do primeiro carrossel de slides*/


main {}

.slide {
	margin: 0 auto;
	width: 1440px;
	height: 650px;
	overflow: hidden;
	transition: all 0.4s;
}

.slides {
	display: flex;
}


.image img {
	width: 1440px;
	height: 650px;
}

.image .slide-content {
	margin-left: 46rem;
	position: absolute;
	text-align: center;
	color: #ffffff;
	top: 50%;
}

.image .slide-content h2 {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.image .slide-content p {
	font-size: 2.5rem;
	margin-bottom: 10rem;
}

.image .slide-content .card-btn {
	margin-top: 2rem;
	padding: 1rem 2rem;
	font-size: 1.4rem;
	padding: 10px;
	width: 40%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #000000;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.image .slide-content .card-btn:hover {
	background-color: #127D00;
}


#atual {
	transition: all 2s;
}

.btn-navegar {
	position: absolute;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	transition: all 0.4s;
	margin-top: -0.5rem;
}

#voltar {
	top: 50%;
	left: 10%;
}

#proximo {
	top: 50%;
	right: 9%;
}

.balls {
	position: absolute;
	width: 1440px;
	display: flex;
	justify-content: center;
	margin-top: -45px;


}

.balls div {
	transition: all 0.5s;
	padding: 6px;
	width: 40px;
	height: 5px;
	margin-right: 15px;
	cursor: pointer;
}

.balls div:hover {
	background: #17CD00;
}

.img-atual {
	transition: all 0.5s;
	background: #17CD00;
}

/*estilização do segundo carrossel de slides*/

#mais-vendidos {
	margin-top: 13rem;
}

#mais-vendidos h1 {
	text-align: center;
}

.product {
	position: relative;
	overflow: hidden;
	padding: 20px;
}

.product-category {
	padding: 0 10vw;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 40px;
	text-transform: capitalize;
}

.product-container {
	margin-top: 10rem;
	position: relative;
	padding: 0 10vw;
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
	display: none;
}

.product-card {
	flex: 0 0 auto;
	width: 250px;
	height: 450px;
	margin-right: 40px;
}

.product-image {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.product-thumb {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.discount-tag {
	position: absolute;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	color: #ff7d7d;
	right: 10px;
	top: 10px;
	text-transform: capitalize;
}

.card-btn {
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 40%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #000000;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;

}

.product-card:hover .card-btn {
	opacity: 1;
}

.card-btn:hover {
	background: #17CD00;
	color: #000000;
}

.product-info {
	width: 100%;
	height: 100px;
	padding-top: 10px;
	text-align: center;
}

.product-brand {
	text-transform: uppercase;
}

.product-short-description {
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	opacity: 0.5;
	text-transform: capitalize;
	margin: 5px 0;
}

.price {
	font-weight: 900;
	font-size: 20px;
}

.actual-price {
	margin-left: 20px;
	opacity: 0.5;
	text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
	border: none;
	width: 10vw;
	height: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 8;
}

.pre-btn {
	left: 0;
}

.nxt-btn {
	right: 0;
}

.pre-btn img,
.nxt-btn img {
	opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
	opacity: 1;
}

.collection-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.collection {
	position: relative;
}

.collection img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.collection p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	font-size: 50px;
	text-transform: capitalize;
}

.collection:nth-child(3) {
	grid-column: span 2;
	margin-bottom: 10px;
}


/* estilização do footer */

footer {
	position: relative;
	background-color: white;
}

footer .container {
	display: flex;
	justify-content: space-between;
	margin-top: 15rem;
	background-color: white;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
	width: 100%;
}

footer h1 {
	color: #000000;
	margin-bottom: 2rem;
	padding: 0.5rem;
	margin-bottom: 1.5rem;
}

footer p {
	color: #000000;
}

footer img {
	width: 5rem;
	height: 5rem;
}

footer .card-contato {
	display: flex;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

footer .card-contato img {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

footer .card-contato p {
	color: #000000;
	font-size: 1.4rem;
	line-height: 150%;
}

footer #informacoes p {
	color: #000000;
	font-size: 1.4rem;
	line-height: 150%;
}

footer #img-footer {
	display: inline-block;
}

footer #img-footer img {
	margin: 2rem;
}

#desenvolvimento p,
#desenvolvimento p strong {
	margin-top: 5rem;
	text-align: center;
	color: #000000;
	font-size: 1.5rem;
	line-height: 150%;
}

#topo-btn {
	width: 70px;
	height: 70px;
	background-color: #17CD00;
	border-radius: 35px;
	position: fixed;
	right: 30px;
	bottom: 20px;
	display: inline-block;
}


/*estilização página login*/

body {
	margin: 0;
	padding: 0;
	background-color: #27033D;
	height: 100vh;
}

#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 320px;
	border: 1px solid #9C9C9C;
	background-color: #9747FF;
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 30px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
}

/* BLOG */

#blog {
	color: #ffffff;
	text-align: center;
	padding: 20px;
	font-size: 3rem;
}

#caixa {
	background-color: #FFFFFF;
	height: 1600px;
	width: 65%;
	margin: 0 auto;
	border-radius: 10px;
	padding: 60px;
}

#caixa img {
	width: 100%;
}

.texto-blog h2 {
	color: #000000;
	margin-bottom: 2rem;
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	font-size: 2.6rem;

}

.texto-blog p {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 1.8rem;

	line-height: 150%;
	transition: color .3s ease;
	margin: 0px 0px 60px 0px;
}

/*informações*/

#pag-informacoes {
	color: #ffffff;
	text-align: center;
	padding: 20px;
	font-size: 3rem;
}

#caixa-informacoes {
	background-color: #FFFFFF;
	height: 2750px;
	width: 65%;
	margin: 0 auto;
	border-radius: 10px;
	padding: 60px;
}

#caixa-informacoes h2 {
	color: #000000;
	margin-bottom: 2rem;
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	font-size: 2.8rem;
}

#caixa-informacoes h3 {
	color: #000000;
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	font-size: 2rem;
}

#caixa-informacoes p {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 1.8rem;
	line-height: 150%;
	transition: color .3s ease;
	margin: 0px 0px 50px 0px;
}

/* Estilização da página de fetiches */

#main-fetiches {
	width: 100%;
	height: 300px;


}

#texto-fetiches {
	font-family: 'Hahmlet';
	font-weight: 400;
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
}

#texto2-fetiches {
	font-family: 'Habibi';
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	margin-top: 40px;
	font-style: normal;
	line-height: normal;
	flex-shrink: 0;
}

.filtro-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.filtro-box {
	width: 300px;
	height: 40px;
	background-color: #C9C9C9;
	display: flex;
	justify-content: space-around;
}

#texto-filtro {
	color: #000;
	font-family: Habibi;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 8px;
}

#funil {
	width: 40px;
	margin-top: 10px;
	margin-left: 50px;
}

.cards-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
	align-items: center;
}



.card {
	display: grid;
	justify-content: space-evenly;
	background-color: #ffffff;
	width: 210px;
	height: 360px;
	border-radius: 12px;
	box-shadow: 4px 4px 12px #615c5caa;
	margin-left: 60px;

}

.card h1 {
	font-size: 1.9rem;
	text-align: center;
	margin-top: -20px;
	color: #27033D;
}

.card h2 {
	font-size: 1rem;
	color: 000;
	text-align: center;
	margin-top: 10px;
	color: #27033D;
}

#preco-fetiches {
	font-size: 1.6rem;
	color: 000;
	margin-left: 66px;
	margin-top: 8px;
	color: #27033D;
}

.card button {
	background-color: #17CD00;
	height: 30px;
	border: none;
	padding: 4px;
	width: 80%;
	color: #000;
	font-size: 1..4rem;
	font-weight: bold;
	margin-left: 19px;
	margin-top: 19px;
	border-radius: 25px;
}

.card button:hover {
	background-color: #27033D;
	cursor: pointer;
	color: #fff;
}

#img-card {
	object-fit: cover;
	width: 210px;
	height: 210px;
	border-radius: 12px;
}

/* responsividade do fetiche */

@media only screen and (max-width: 667px) {
	* {
		padding: 0;
		margin: 0;
	}

	.logo {
		width: 7rem;
		height: 7rem;
		margin-top: 10px;
	}

	#pesquisar {
		display: none;
	}

	.nav-section p.textonav,
	.nav-section a.textonav {
		display: none;
	}


#nav-paginas {
	margin-top: 2rem;
	padding: 1rem;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

#nav-paginas a {
	font-family: 'Libre Caslon Display', serif;
	color: #000000;
	font-size: 1rem;
	font-weight: bold;
	line-height: 150%;
	transition: color .3s ease;
}

#topo-btn {
	display: none;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;

}

.card {
	display: grid;
	justify-content: space-evenly;
	background-color: #ffffff;
	width: 130px;
	height: 160px;
	border-radius: 12px;
	box-shadow: 4px 4px 12px #615c5caa;
	margin-left: 60px;
	margin: 10px;

}

.card h1 {
	font-size: 1rem;
	text-align: center;
	margin-top: -20px;
	color: #27033D;
}

.card h2 {
	font-size: 0.5rem;
	color: 000;
	text-align: center;
	margin-top: 10px;
	color: #27033D;
}

#preco-fetiches {
	font-size: 1rem;
	color: 000;
	margin-left: 66px;
	margin-top: 8px;
	color: #27033D;
}

.card button {
	background-color: #17CD00;
	height: 10px;
	border: none;
	padding: 4px;
	width: 50%;
	color: #000;
	font-size: 1rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}

.card button:hover {
	background-color: #27033D;
	cursor: pointer;
	color: #fff;
}

#img-card {
	object-fit: cover;
	width: 130px;
	height: 100px;
	border-radius: 12px;
}

#main-fetiches {
	width: 100%;
	height: 300px;


}

#texto-fetiches {
	font-family: 'Hahmlet';
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
}

#texto2-fetiches {
	font-family: 'Habibi';
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	margin-top: 40px;
	font-style: normal;
	line-height: normal;
	flex-shrink: 0;
}
footer {
	position: absolute;
	background-color: white;
}

footer .container {
	display: flex;
	justify-content: space-between;
	margin-top: 15rem;
	background-color: white;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
	width: 100%;
}

footer h1 {
	color: #000000;
	margin-bottom: 4rem;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
}

footer p {
	color: #000000;
}

footer img {
	width: 5rem;
	height: 5rem;
}

footer .card-contato {
	display: flex;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

footer .card-contato img {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

footer .card-contato p {
	color: #000000;
	font-size: 1.4rem;
	line-height: 150%;
}

footer #informacoes p {
	color: #000000;
	font-size: 1.4rem;
	line-height: 150%;
}

footer #img-footer {
	display: inline-block;
}

footer #img-footer img {
	margin: 2rem;
}
}